@import 'normalize';
@import 'layout';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

@font-face {
	font-family: 'Aleo';
	src: url('../fonts/aleo-regular-webfont.woff2') format('woff2'), url('../fonts/aleo-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* variables */
$primary-color: #e8e8e8;
$button-color: #5474fd;
$section-bg-color: #333333;
$form-text-color: #999999;
$p-text: #e8e8e8;
$main-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Aleo', sans-serif;

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

body {
	font: 400 16px/1.6 $main-font;
	color: $primary-color;
	border: 15px solid $primary-color;
	background: $section-bg-color;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1150px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	background-color:$button-color;
	height: 60px;
	line-height: 60px;	
	border: none;
	border-radius: 0px;
	
	font-family: $secondary-font;
	color: $primary-color;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	padding: 0 62px;
	text-transform: uppercase;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background-color: lighten($button-color,10%);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-intro{
	padding: 230px 0 290px;
	background: url('../img/intro-bg.jpg') center no-repeat;
	background-size: cover;

	&__title{
		margin: 0;
		font-size: 48px; 
		font-weight: 700;
		line-height: 1; 
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	&__subtitle{
		margin: 0;
		font-size: 22px; 
		font-weight: 400;
		letter-spacing: 0.310em;
		padding-bottom: 40px;
	}

	&-form{
		
		}
	
	&-input{
		padding-left: 50px;
	    display: inline-block;
	    background-color: $primary-color;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 60px;
	    min-width: 500px;
	    height: 60px;
	    color:  #999999;
	}

	&-button{
		margin-left: -5px;
        display: inline-block;
        background-color: #5474fd;
        font: 400 14px/1.857 'Aleo';
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        border: 2px solid #fff;
        padding: 0 33px;
        border-radius: 0px;
            svg {
                vertical-align: middle;
                width: 32px;
                height: 27px;
                margin-left: 2px;
            }
	}

}

.ba-scroll {
        position: absolute;
        bottom: -117px;
        left: 46.5%;
        color: $primary-color;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2em;
	
        div {
            text-align: center;
        }
        &:hover{
        	color: darken($primary-color,10%);
        }
    }


.ba-second{
	background-color: $button-color;
}

/* start HEADER */
.ba-header{
	padding: 27px 0;
	.ba-logo {
		vertical-align: middle;
		img {
			display: block;
		}
	}
}

.ba-nav{
	vertical-align: middle;
		
	.ba-menu{
		padding: 0;
		margin: 0;
		list-style: none;

		li{
			display: inline-block;

			&:not(:first-child){
				margin-left: 37px;
			}

			a {
				font-family: $secondary-font;
				color: #ffffff;
				font-size: 14px;
				font-weight: 400;
				text-transform: uppercase;
				text-decoration: none;

				&:hover, &.active{
					color: #ccc ;
					cursor: pointer;
					transition: color .3s ease-in;
				}
			}
		}
	}
}
/* end HEADER */

/* why choose us */
.ba-why-choose-us {
	background: url(../img/bg-chhose.jpg) no-repeat center top;
	background-size: cover;
	padding: 120px 0; 
	&-left {
		padding-top: 60px;
		padding-right: 30px; 
	}
	&-right {
		padding-left: 60px; 
	}
	&__header{
		font-family: $secondary-font;
		font-size: 36px;
		font-weight: 400;
		color: #fff;
		margin-bottom: 50px; 
	}
	&__text{
		letter-spacing: 1.5px;
		text-align: justify;
		margin-bottom: 30px;
	}
	&__button{

	}
	&__image1{
		margin-bottom: 5px;
	}
	&__image2{
		margin-left: 125px;
	}
}


/* BOOKING section */

.ba-booking{
	padding-top: 210px;
  	padding-bottom: 90px;
  	&--first{
  		background: url(../img/booking-1-bg.jpg) no-repeat center top;
  		background-size: cover;	
  	}
  	&--second{
  		background: url(../img/booking-2-bg.jpg) no-repeat center top;
  		background-size: cover;
  	}
  	&__subtitle{
  		margin: 0;
  		font-family: $secondary-font;
  		font-size: 20px;
  		margin-bottom: 14px;
  		letter-spacing: 0.075em;
  	}
  	&__title{
  		margin: 0;
  		color: #ffffff;
		font-size: 20px; 
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 16px;
  	}

  	&__info{
  		padding: 50px 30px;
 		background-color: rgba(35, 35, 35, 0.9);
  	}

  	&__text{
  		margin-bottom: 44px;
  	}
}








